@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Black+Ops+One&family=Cairo:wght@600&family=Kelly+Slab&family=Macondo&family=Plus+Jakarta+Sans:wght@200&family=Smooch&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

/* .container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: auto auto;
  grid-template-areas:
    "navigation"
    "layout";
} */

.navigation {
  height: 11vh;
  color: whitesmoke;
  padding-left: 5rem;
  font-size: 25px;
  background-color: rgb(33, 28, 28);
}

.layout {
  padding: 4rem 5rem;
  height: 89vh;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  background-image: url("../bg-img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.categories {
  width: auto;
  margin-bottom: 2rem;
}

.heading {
  background-color: rgb(9, 9, 70);
  color: whitesmoke;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: 800;
}

.list {
  background-color: whitesmoke;
  padding: 1rem 2rem;
}

.list li {
  font-size: 12px;
  color: #000;
  margin-bottom: 0.41rem;
}

.list li a {
  color: #000;
  text-decoration: none;
}

.list li a:hover {
  color: rgb(54, 54, 147);
}

@media (max-width: 840px) {
  .layout {
    height: auto;
  }
}

@media (max-width: 650px) {
  .navigation {
    font-size: 20px;
  }

  .layout {
    display: block;
  }

  .categories {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .navigation {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 13px;
  }

  .heading {
    font-size: 15px;
  }

  .list li {
    font-size: 10px;
  }
}
